$color-darkest: #2c2107;
//$color-lightest: #ece5d6;
$color-lightest: #fff;
//$color-lightest-transparent: rgba(236,229,214,0.5);
$color-lightest-transparent: rgba(250,250,250,0.5);
$font-base-size: 18px;