$color-darkest: #2c2107;
$color-lightest: #ece5d6;
$color-lightest-transparent: rgba(236,229,214,0.7);

html, body {
  margin: 0;
  padding: 0;
  color: $color-darkest !important;
  height: 100%;
  color: $color-darkest;
  background-color: $color-lightest;
}

a {
  color: $color-darkest !important;
}

.header {
  background-color: $color-lightest;
  height: 50px;
}

.header > .container {
}

.background {
}

.main {
  background: url('../Images/schiff.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
  position: relative;
  top: 60px;
}

.main > .container {
  height: 100%;
  background-color: $color-lightest-transparent;
}

.main h2:first-child {
  padding-top: 16px;
}

.breadcrumb {
  background: transparent;
  padding: 12px 0;
}

.content {
  height: 100%;
}

.footer {
  background-color: $color-lightest;
  width: 100%;
  height: 50px;
  line-height: 60px;
  margin: 0;
}

.footer .footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-list .footer-item {
  padding: 0 6px;
}

.navbar .nav-item {
  padding: 0 6px;
}
